.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.SignuppageRegister422 {
  width: 390px;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 390px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(252, 208, 50, 1);
}
.image {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 844px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.SignupButton2152701 {
  top: 582px;
  left: 115px;
  width: 145px;
  display: flex;
  padding: 10px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 20px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 55, 55, 1);
}
.text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text1 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 900;
  font-stretch: normal;
  text-decoration: none;
}
.Enter-Email {
  top: 268px;
  left: 0px;
  right: 0px;
  width: 281px;
  margin: auto;
  position: absolute;
  margin-left: auto;
}
.Enter-Ngo-Name {
  top: 422px;
  left: 0px;
  right: 0px;
  width: 281px;
  margin: auto;
  position: absolute;
  margin-left: auto;
}
.Enter-Ngo-Name1 {
  top: 471px;
  left: 0px;
  right: 0px;
  width: 281px;
  margin: auto;
  position: absolute;
  margin-left: auto;
}
.LoginButtonbutton2152708 {
  top: 188px;
  left: 66px;
  width: 134px;
  display: flex;
  padding: 10px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(251, 251, 251, 1);
}
.text2 {
  color: rgba(255, 55, 55, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text3 {
  color: rgba(255, 55, 55, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 900;
  font-stretch: normal;
  text-decoration: none;
}
.LoginButtonbutton2152710 {
  top: 188px;
  left: 193px;
  width: 129px;
  display: flex;
  padding: 10px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 55, 55, 1);
}
.text4 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text5 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 900;
  font-stretch: normal;
  text-decoration: none;
}
.Password {
  top: 318px;
  left: 0px;
  right: 0px;
  width: 283px;
  height: 38px;
  margin: auto;
  position: absolute;
}
.Password1 {
  top: 369px;
  left: 0px;
  right: 0px;
  width: 283px;
  height: 38px;
  margin: auto;
  position: absolute;
}
